.card-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .card-item {
    flex: 1 0 45%;
  }
}

@media (max-width: 1450px) {
  .card-list {
    justify-content: center;
  }
}