.app {
    margin: 0 auto;
    max-width: 1400px;

    .search-tab {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .pagination {
        text-align: center;
    }

    .cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .card-wrap {
        margin: 10px;
    }
    .card {
        display: flex;

        width: 600px;
        height: auto;

        &-image {
            img {
                width: 250px;
            }
        }

        &-info {
            width: 450px;
            padding: 15px;

            &__header {
                display: flex;
                justify-content: space-between;
            }
            
            &__rating-circle {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                border: 5px yellow solid;

                display: flex;
                justify-content: center;
                align-items: center;
            }

            &__date-genre {
                div {
                    margin-bottom: 5px;
                }
            }
        }
    }
}