.card-wrap {
  padding: 0.5rem;
  width: 45rem;

  .card {
    display: flex;
    min-height: 29rem;
    color: #0d0952;

    &-image {
      &__poster {
        max-width: 15.6rem;
      }
    }
    &-info {
      max-width: 28rem;
      padding: 0 1rem;

      &__header {
        display: flex;
        justify-content: space-between;

        &_title {
          max-width: 15rem;
        }
      }
      &__rating-circle {
        width: 3.1rem;
        height: 3.1rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .low {
        border: 0.3rem #e90000 solid;
      }
      .medium {
        border: 0.3rem #e97e00 solid;
      }
      .good {
        border: 0.3rem #e9d100 solid;
      }
      .great {
        border: 0.3rem #66e900 solid;
      }
      &__date,
      &__genres {
        margin-bottom: 0.3rem;
      }
      &__genres {
        display: flex;
        justify-content: flex-start;
        padding: 0.15rem 0;
      }
      &__genre {
        margin-right: 0.2rem;
        padding: 0.35rem;
        font-size: 0.6rem;

        border: 0.05rem #08008a solid;
        background-color: #53e1fe;
      }
      &__rating-choose {
        margin-bottom: 0.5rem;
      }
    }
  }
}

@media (max-width: 1450px) {
  .card-wrap {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .card-wrap {
    .card {
      font-size: 0.95rem;
      &-image {
        &__poster {
          max-width: 10rem;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .card-wrap {
    .card {
      min-height: 19rem;
      font-size: 0.7rem;
      &-image {
        &__poster {
          max-width: 7rem;
        }
      }
      &-info {
        &__rating-circle {
          min-width: 0.5rem;
          min-height: 0.5rem;
          border-radius: 50%;
        }
        &__genres {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap;
          padding: 0.1rem;
        }
        &__genre {
          margin: 0.1rem;
        }
        &__rating-choose {
          max-width: auto;
          .ant-rate-star {
            font-size: 0.6rem;
          }
        }
      }
    }
  }
}
