.card-wrap {
  margin: 10px;
}
.card {
  display: flex;

  width: 600px;
  height: 450px;

  color: #0d0952;

  &-image {
    img {
      width: 250px;
    }
  }

  &-info {
    width: 450px;
    padding: 15px;

    &__header {
      display: flex;
      justify-content: space-between;

      &_title {
        width: 250px;
      }
    }

    &__rating-circle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .low {
      border: 5px #e90000 solid;
    }
    .medium {
      border: 5px #e97e00 solid;
    }
    .good {
      border: 5px #e9d100 solid;
    }
    .great {
      border: 5px #66e900 solid;
    }

    &__date-genres {
      div {
        margin-bottom: 5px;
      }
    }

    &__genres {
      display: flex;
      justify-content: flex-start;
      padding: 0.15rem 0;
    }

    &__genre {
      margin-right: 0.2rem;
      padding: 0.35rem;
      font-size: 0.6rem;

      border: 0.05rem #08008a solid;
      background-color: #53e1fe;
    }
  }
}
