.card-wrap {
  margin: 10px;
}
.card {
  display: flex;

  width: 600px;
  height: 450px;

  &-image {
    img {
      width: 250px;
    }
  }

  &-info {
    width: 450px;
    padding: 15px;

    &__header {
      display: flex;
      justify-content: space-between;

      &_title {
        width: 250px;
      }
    }

    &__rating-circle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .red {
      border: 5px red solid;
    }
    .yellow {
      border: 5px yellow solid;
    }
    .green {
      border: 5px green solid;
    }

    &__date-genres {
      div {
        margin-bottom: 5px;
      }
    }

    &__genres {
      display: flex;
      justify-content: flex-start;
    }

    &__genre {
      border: 1px yellowgreen solid;
      margin-right: 0.2rem;
      padding: 0.5rem;
    }
  }
}
